:root{
    --color-brown: #6d4c41;
    --color-pink: #f8bbd0;
    --color-bg-main: #faf9f6;
    --color-white: #fff
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    margin: 0;
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 1.6rem;
    background-color: var(--color-bg-main);
    color: var(--color-brown);
}

.header{
    box-shadow: 0 3px 10px var(--color-brown);
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    background-color: var(--color-bg-main);
}

.header__container{
    height: 8rem;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg-main)
}

.header__logo{
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.header__list{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-link{
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-brown);
    font-size: 1.5rem;
}

.nav-link:hover{
    text-decoration-line: underline;
}

.hero{
    height: 70vh;
    text-transform: uppercase;
    font-size: 6rem;
    color: var(--color-brown);
    margin: 100px 20px;
    background-color: #faf9f6;
    background-image: url(images/flowers.png);
    background-position: 130% 20%;
    background-repeat: no-repeat;
    background-size: 60%;
    overflow: hidden;
}

.hero__subtitle{
    font-size: 3rem;
    font-style: italic;
}

.hero__btn{
    background-color: var(--color-pink);
    height: 5rem;
    width: 23rem;
    border: 0;
    border-radius: 3rem;
    color: var(--color-brown);
    font-weight: normal;
    font-size: 2rem;
    margin: 60px 0;
}

.hero__content{
    padding: 100px 0 0 100px;
}